In [1]:
# Import library dataframe
import numpy as np 
from numpy import mean 
import pandas as pd 

# Import library untuk visualisasi
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import folium

# Initialize the map

# Import library untuk preprocessing 
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler 
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split 

# Mengatur display agar maximal
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Import library untuk modelling/analysis
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report 
from sklearn.metrics import mean_squared_error 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import roc_auc_score


# Oversample and plot imbalanced dataset with SMOTE
from collections import Counter
from matplotlib import pyplot
from numpy import where

# Import library untuk balancing data
from imblearn.over_sampling import SMOTE

# Import library untuk model improvement
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score

# Import Library untuk balancing
from sklearn.utils import resample

# Import library untuk mengabaikan peringatan
import warnings
warnings.filterwarnings("ignore")

print('Import Library Berhasil dilakukan ^_^')

Import Library Berhasil dilakukan ^_^

In [2]:
df2016 = pd.read_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/ISPU 2016/combined_data16new.csv')
df2017 = pd.read_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/ISPU 2017/combined_data17new.csv')
df2018 = pd.read_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/ISPU 2018/combined_data18new.csv')
df2019 = pd.read_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/ISPU 2019/combined_data19new.csv')
df2020 = pd.read_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/ISPU 2020/combined_data20new.csv')

In [3]:
dfs = [df2016, df2017, df2018, df2019, df2020]

df = pd.concat(dfs, ignore_index=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8529 entries, 0 to 8528
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   8529 non-null   object
 1   stasiun   8529 non-null   object
 2   pm10      8529 non-null   float64
 3   so2       8529 non-null   float64
 4   co        8529 non-null   float64
 5   o3        8529 non-null   float64
 6   no2       8529 non-null   float64
 7   max       8529 non-null   float64
 8   critical  8529 non-null   object
 9   categori  8529 non-null   object
dtypes: float64(6), object(4)
memory usage: 666.5+ KB

In [5]:
df['categori'].value_counts()

SEDANG                5637
BAIK                  1722
TIDAK SEHAT           1137
SANGAT TIDAK SEHAT      33
Name: categori, dtype: int64

In [6]:
df_db = df.loc[:,['pm10','so2','co','o3','no2','max','categori']]
df_db.head()

   pm10   so2    co    o3  no2   max categori
0  59.0  19.0  27.0  31.0  1.0  59.0   SEDANG
1  52.0  19.0  26.0  33.0  2.0  52.0   SEDANG
2  44.0  19.0  26.0  36.0  2.0  44.0     BAIK
3  58.0  21.0  26.0  46.0  5.0  58.0   SEDANG
4  70.0  19.0  26.0  41.0  4.0  70.0   SEDANG

In [7]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8529 entries, 0 to 8528
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pm10      8529 non-null   float64
 1   so2       8529 non-null   float64
 2   co        8529 non-null   float64
 3   o3        8529 non-null   float64
 4   no2       8529 non-null   float64
 5   max       8529 non-null   float64
 6   categori  8529 non-null   object
dtypes: float64(6), object(1)
memory usage: 466.6+ KB

In [8]:
df_db.to_csv('D:/Kuliah/Semester 7/Internship/Project Kualitas Udara/Dataset/KUALITAS UDARA/qualityudara_new1.csv', index=False)